
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container{
  width: 1528;
  max-width: 100%
}


@import "tailwindcss";


@utility container {
  margin-inline: auto;

}


@theme{
  --font-main : "Open Sans", sans-serif;
}



#mega_menu{
  background: #FAFAFA;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}


#banner{

   background: url(/public/Banner.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  

}

#offerImg{

   background: url(/public/OfferImg.png);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

}

#offContainer{

   background: url(/public/OfferGroup.png);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);

}

.antor-con{

  background: url(/public/PersonalisedBanner.png);
  background: rebeccapurple;





}